@charset="utf-8";
@import url(../FONTS/STENCIL.ttf);

header{
	width: 100.44%;
	height: 15%;
	border: 5px solid #400404;
	margin-left: -7.7px;
	margin-top: -8px;
	background-color: #400404;
	
	
}
#h{
	
	color: #ffffff; /*#BF0B0B*/;
	font-size: 90px;
	text-shadow:13px 2px  #4C0B0B;
	margin-top: 0px;
	text-decoration: none;
}
#d{
	width: 101%;
	height: 3%;
	background-color: #BF0B0B;
	border:2px solid #BF0B0B;
	border-left: 2px;
	margin-left: -8px;
	text-decoration: none;
}
body{
	background-color: #FFFFFF;/*#FF0000*/
	text-decoration: none;
	font-family: STENCIL;
	color:black;
}
#d2{/*
	text-decoration: none;
	width: 101%;
	height: 5%;
	/*background-color: #CF1717;/*#CF1717
	border:2px solid #CF1717;
	border-left: 2px;
	margin-left: -8px;
	*/
}

.cabeçalho{
	font-size: 25px;
	text-shadow: 0PX 0PX;
	text-decoration: none;
	position: relative;
	margin-left: 41%;
	margin-top: -70px;
}
ul{
	list-style-position: outside;
	list-style-type: none;
}
li{

	float:left;
	margin: 5px;
	margin-top: -12px;
	margin-left: 
	background-color:#FF0000;
	border-color: white;
}
a:link{
	text-decoration: none;
	text-decoration-color: #FF0000;
}
a{
	color: #FF0000;
	text-align:  justify-all;
}
a:hover{
	zoom:120%;
	color:brown;
}
.noticias,.receita{
	color: black;
	font-size: 50px;

}

.receita{
	position: absolute;
	margin-left: 41.50%;
	margin-top: 0%;
	border: 2px solid white;
	width: 40%;
	box-sizing: border-box;
	float: left;

}

.noticias{
/*border: 2px solid white;*/
margin-right: 2px;
width: 40%;
/*box-sizing: border-box;*/
position: absolute;
}

#fonte{
	font-size: 20px;
	color: white;
}
.anuncio{
	width: 17%;
	border: 2px solid #400404 ;
	margin-left: 82.35%;
	margin-top: 0%;
	box-sizing: border-box;
	position: absolute;
	color:black;
	background-color: #400404;
	height: 25%
}
/*#formatar{
	display: flex;
	align-items: flex-start;
}*/

img{
	height: 200px;
	width: 65%;
	margin-left: 50px;
}

p{
	color : black;
	text-align: center;
	text-align:  justify-all;
}

.caixa{
	box-sizing: border-box;
}
.caixa:hover{
	zoom:120%;
}
footer{
	width: 101%;
	height: 15%;
	border: 1px solid #400404;
	margin-left: -7.7px;
	background-color: #400404;
	float: bottom;
	margin-top: 100%;
	margin-bottom: 0%;
}